@charset "UTF-8";
/* 回答はここから */
.li{
  display: flex;
  justify-content: center;
}
.card{
  list-style: none;
  background-color: #d2b48c;
  width: 200px;
  margin-right: 60px;
  padding: 10px;
  border-radius: 13px;
  outline: 10px solid #655;
  box-shadow: 0 0 0 6px #655;
}
.card:last-child{
  margin: 0;
}